﻿@page "/Profile"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject ISuggestionData suggestionData
@inject IUserData userData
@inject NavigationManager navManager

<h1 class="page-heading mb-4">My Account</h1>

<div class="form-layout mb-3">
    <div class="row">
        <h2 class="col-11 my-submission-heading">My Account</h2>
        <button class="col-1 btn btn-close btn-close-white" @onclick="ClosePage"></button>
    </div>
    
    <p class="my-submission-text">
        <a href="MicrosoftIdentity/Account/EditProfile">Edit My Profile</a>
    </p>
</div>

@if (approved?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submission-heading">Approved Suggestions</h2>
        <p class="my-submission-text">These are your suggestions that are currently active.</p>

        @foreach (var s in approved)
        {
            <hr class="my-submission-separator"/>
            <div class="fw-bold suggestion-detail-suggestion">@s.Suggestion</div>
            <p class="my-submission-text">@s.DateCreated.ToString("dd:MM:yyyy")</p>
            <p class="my-submission-text">Total Votes: @s.UserVotes.Count</p>
            <p class="my-submission-text">Category: @s.Category.CategoryName</p>
            <p class="my-submission-text">Description: @s.Description</p>
            @if (s.SuggestionStatus is not null)
            {
                <div class="fw-bold suggestion-detail-suggestion">Status: @s.SuggestionStatus.StatusName</div>
                <p>Notes: @((MarkupString)s.OwnerNotes)</p>
            }
        }
    </div>
}

@if (archived?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submission-heading">Archived Suggestions</h2>
        <p class="my-submission-text">These are your suggestions that were active but did not gain enough attraction.</p>

        @foreach (var s in archived)
        {
            <hr class="my-submission-separator" />
            <div class="fw-bold suggestion-detail-suggestion">@s.Suggestion</div>
            <p class="my-submission-text">@s.DateCreated.ToString("dd:MM:yyyy")</p>
            <p class="my-submission-text">Total Votes: @s.UserVotes.Count</p>
            <p class="my-submission-text">Category: @s.Category.CategoryName</p>
            <p class="my-submission-text">Description: @s.Description</p>
            @if (s.SuggestionStatus is not null)
            {
                <div class="fw-bold suggestion-detail-suggestion">Status: @s.SuggestionStatus.StatusName</div>
                <p>Notes: @((MarkupString)s.OwnerNotes)</p>
            }
        }
    </div>
}

@if (pending?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submission-heading">Pending Suggestions</h2>
        <p class="my-submission-text">These are your suggestions that have not yet been reviewed by the adnimistrators.</p>

        @foreach (var s in pending)
        {
            <hr class="my-submission-separator" />
            <div class="fw-bold suggestion-detail-suggestion">@s.Suggestion</div>
            <p class="my-submission-text">@s.DateCreated.ToString("dd:MM:yyyy")</p>
            <p class="my-submission-text">Total Votes: @s.UserVotes.Count</p>
            <p class="my-submission-text">Category: @s.Category.CategoryName</p>
            <p class="my-submission-text">Description: @s.Description</p>
            @if (s.SuggestionStatus is not null)
            {
                <div class="fw-bold suggestion-detail-suggestion">Status: @s.SuggestionStatus.StatusName</div>
                <p>Notes: @((MarkupString)s.OwnerNotes)</p>
            }
        }
    </div>
}

@if (rejected?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submission-heading">Rejected Suggestions</h2>
        <p class="my-submission-text">These are your suggestions that were not deemed appropriate for the training suggestion site.</p>

        @foreach (var s in rejected)
        {
            <hr class="my-submission-separator" />
            <div class="fw-bold suggestion-detail-suggestion">@s.Suggestion</div>
            <p class="my-submission-text">@s.DateCreated.ToString("dd:MM:yyyy")</p>
            <p class="my-submission-text">Total Votes: @s.UserVotes.Count</p>
            <p class="my-submission-text">Category: @s.Category.CategoryName</p>
            <p class="my-submission-text">Description: @s.Description</p>
            @if (s.SuggestionStatus is not null)
            {
                <div class="fw-bold suggestion-detail-suggestion">Status: @s.SuggestionStatus.StatusName</div>
                <p>Notes: @((MarkupString)s.OwnerNotes)</p>
            }
        }
    </div>
}



