﻿@page "/SampleData"
@inject ICategoryData categoryData
@inject IStatusData statusData
@inject IUserData userData
@inject ISuggestionData suggestionData

<h3>SampleData</h3>

@if (categoriesCreated)
{
    <h4>Categories have been created</h4>
}
else
{
    <button class="btn btn-primary" @onclick="CreateCategories">Create Categories</button>
}

@if (statusesCreated)
{
    <h4>Statuses have been created</h4>
}
else
{
    <button class="btn btn-primary" @onclick="CreateStatuses">Create Statuses</button>
}

<button class="btn btn-danger" @onclick="GenerateSampleData">Generate SampleData</button>



@code {
    private bool categoriesCreated = false;
    private bool statusesCreated = false;

    /// <summary>
    /// Method createing sample data for debugging - fake user and suggestion
    /// </summary>
    /// <returns></returns>
    private async Task GenerateSampleData()
    {
        UserModel user = new()
        {
            FirstName = "Clark",
            LastName = "Kent",
            EmailAddress = "clark.kent@smallville.com",
            DisplayName = "Superman",
            ObjectIdentifier = "sup-123"
        };
        await userData.CreateUser(user);

        // search for the created user in db == check if the user was created, 
        // if GetUserFromAuthentication works and get id created by MongoDB
        UserModel foundUser = await userData.GetUserFromAuthentication("sup-123");
        List<CategoryModel> categories = await categoryData.GetAllCategories();
        List<StatusModel> statuses = await statusData.GetAllStatuses();
        HashSet<string> votes = new();
        votes.Add("1"); // this shoult be a user identifier, but we cheat here
        votes.Add("2");
        votes.Add("3");

        SuggestionModel suggestion = new()
        {
            Author = new BasicUserModel(foundUser),
            Category = categories[0],
            Suggestion = "Smallville suggestion",
            Description = "Is a secluded farm a fine place to live?"
        };
        await suggestionData.CreateSuggestion(suggestion);

        suggestion = new()
        {
            Author = new BasicUserModel(foundUser),
            Category = categories[1],
            Suggestion = "Metropolis suggestion",
            Description = "Maybe a big city id a good place to live?",
            SuggestionStatus = statuses[0],
            OwnerNotes = "This is a note for the status."
        };
        await suggestionData.CreateSuggestion(suggestion);

        suggestion = new()
        {
            Author = new BasicUserModel(foundUser),
            Category = categories[2],
            Suggestion = "Lost powers suggestion",
            Description = "What to do if my powers are lost?",
            SuggestionStatus = statuses[1],
            OwnerNotes = "This is a note for the status."
        };
        await suggestionData.CreateSuggestion(suggestion);

        suggestion = new()
        {
            Author = new BasicUserModel(foundUser),
            Category = categories[3],
            Suggestion = "Work life balance",
            Description = "How to feel good both at work and at home?",
            SuggestionStatus = statuses[2],
            UserVotes = votes,
            OwnerNotes = "This is a note for the status."
        };
        await suggestionData.CreateSuggestion(suggestion);

        votes.Add("4");
        suggestion = new()
        {
            Author = new BasicUserModel(foundUser),
            Category = categories[4],
            Suggestion = "Limiting hobbies",
            Description = "Shall I drop my hobbies due to lack of energy?",
            SuggestionStatus = statuses[3],
            UserVotes = votes,
            OwnerNotes = "This is a note for the status."
        };
        await suggestionData.CreateSuggestion(suggestion);
    }

    private async Task CreateCategories()
    {
        var categories = await categoryData.GetAllCategories();

        // if catogiries is null (the question mark), skip the if statement
        // otherwise return - categories are already present
        if (categories?.Count > 0)
        {
            return;
        }

        CategoryModel cat = new()
        {
            CategoryName = "Courses",
            CategoryDescription = "Full paid courses."
        };
        await categoryData.CreateCategory(cat);

        cat = new()
        {
            CategoryName = "Dev questions",
            CategoryDescription = "Advice on being a developer."
        };
        await categoryData.CreateCategory(cat);

        cat = new()
        {
            CategoryName = "In-Depth Tutorial",
            CategoryDescription = "A deep-dive viedo on how to use a topic."
        };
        await categoryData.CreateCategory(cat);

        cat = new()
        {
            CategoryName = "10-Minute Training",
            CategoryDescription = "A quick \"How do I use this?\" video."
        };
        await categoryData.CreateCategory(cat);

        cat = new()
        {
            CategoryName = "Other",
            CategoryDescription = "Not sure where to put this."
        };
        await categoryData.CreateCategory(cat);

        categoriesCreated = true;
    }

    private async Task CreateStatuses()
    {
        var statuses = await statusData.GetAllStatuses();

        if (statuses?.Count > 0)
        {
            return;
        }

        StatusModel stat = new()
        {
            StatusName = "Completed",
            StatusDescription = "Suggestion was accepted."
        };
        await statusData.CreateStatus(stat);

        stat = new()
        {
            StatusName = "Watching",
            StatusDescription = "Suggestion is interesting."
        };
        await statusData.CreateStatus(stat);

        stat = new()
        {
            StatusName = "Upcoming",
            StatusDescription = "Will be released soon."
        };
        await statusData.CreateStatus(stat);

        stat = new()
        {
            StatusName = "Dismissed",
            StatusDescription = "Suggestion will not be undertaken."
        };
        await statusData.CreateStatus(stat);

        statusesCreated = true;
    }
}
