﻿<AuthorizeView Policy="Admin"> <!-- Authorize only if the policy "Admin" is true -->
    <a class="login-link" href="/AdminApproval">Admin</a>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <a class="login-link" href="/Profile">Profile</a>
        <a class="login-link" href="MicrosoftIdentity/Account/SignOut">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a class="login-link" href="MicrosoftIdentity/Account/SignIn">Login</a>
    </NotAuthorized>
</AuthorizeView>
