﻿@page "/people"

@using DataLibrary
@using BlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<h3>People</h3>

<button class="btn btn-primary" @onclick="InsertData">Insert Billy Butcher</button>
<button class="btn btn-warning" @onclick="UpdateData">Update Billy Butcher to William</button>
<button class="btn btn-danger" @onclick="DeleteData">Delete All Mr. Butcher</button>

@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var p in people)
    {
        <p>
            @p.FirstName @p.LastName
        </p>
    }
}

@code {
    List<PersonModel> people;

    private async Task InsertData()
    {
        string sql = @"insert into dbo.People (FirstName, LastName, EmailAddress) values (@FirstName, @LastName, @EmailAddress);";
        await _data.SaveData(sql, new { FirstName = "Billy", LastName = "Butcher", EmailAddress = "bb@boys.com" }, _config.GetConnectionString("default"));
        await OnInitializedAsync();
    }

    private async Task UpdateData()
    {
        string sql = @"update dbo.People set FirstName = @FirstName where LastName = @LastName;";
        await _data.SaveData(sql, new { FirstName = "William", LastName = "Butcher" }, _config.GetConnectionString("default"));
        await OnInitializedAsync();
    }

    private async Task DeleteData()
    {
        string sql = @"delete from dbo.People where LastName = @LastName;";
        await _data.SaveData(sql, new { LastName = "Butcher" }, _config.GetConnectionString("default"));
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from dbo.People";
        people = await _data.LoadData<PersonModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}
